#menu
{
	width : 200px;
	height : 400px;
	background-color : #f44;
	z-index:0;
	margin : 0px;
}

body
{
	margin:0px;
}

.menuItem
{
	width : 100%;
	height : 30px;
	cursor: pointer;
}

.sheetOpen
{
	transform: translate(902px,0px);
	transition: transform 2s;
}

.sheetClosed
{
	transform: translate(0px,0px);
	transition: transform 2s;
}

.headerContent
{
	float:right;
	height : 30px;
	background-color : #e22;
}

.folder
{
	width:900px;
	border: 1px solid black;
	z-index:-30;
	position:absolute;
}

#itemFormation
{
	background-color : #e22;
}